Source: pynacolada
Maintainer: H. Wouters <hendrikwout@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-pynacolada
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Process netcdf data.
 ===========
 ncdftools
 ===========
 .
 .
 Just imagine that your tons of terrabytes of data can be processed  in (parametric) space or
 time (or combination) with only a few (readable!) lines of code waiting only maybe just one
 night.  For this task, we would obviously fall back to tools like cdo or ncl.  However, we
 are stuck to the data analysis options that these provide. That's where pynacolada comes
 into play.  We can now apply any arbitrary pre-defined or user-defined function analysis on a
 huge dataset, and with great performance (from the numpy/matlib library), and very simply.
 .
 .
 The power of tools lies in their examples. Typical usage of the package, in particular ncmultifunc,
 looks like this::
 .
     #!/usr/bin/env python
     # 2013-11-08: Below, you find  just a code snippet from the first tests.. Examples will be added very soon
    #print fnout
 .
